img{
    width: 200px;
    height: 250px;
}


.right {
    position: absolute;
    right: 0px;
    width: 500px;
    padding: 10px;
}


.center {
    margin: auto;
    width: 20%;
    padding: 10px;
}

body{
    background-color: azure;
}



h1{
    font-family: cursive;
    font-size: 40px;
}